<h1>Rubbish Reporter</h1>


<div id="map">
</div>

<div class="entry">
  <h4>choose a location:</h4>
  <input placeholder="{{lat}}" type="text" name="lat" id="lat" />
  <input placeholder="{{long}}" type="text" name="long" id="long" />
  <h4>Type a description:</h4>
    <p><input placeholder="description" type="text" name="description" id="description" size='80'></p>
  <nav>
  <a class="link" href="/">Report</a> /
  <a class="link" href="/submit">Submit</a>
</nav>
</div>
