<h1>Rubbish Reporter</h1>


<div id="map">
</div>

<div class="entry">
  <h1>{{title}}location:</h1>
  <input placeholder="name" type="text" name="name" id="cat_name" />
  <div class="body">
    {{body}}
  </div>
  <nav>
  <a class="link" href="/">Report</a> /
  <a class="link" href="/submit">Submit</a>
</nav>
</div>
